<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>EK VOSTOK</title>
</head>
<body>
    <div class="header">
        <button class="button">Кнопка Один</button>
        <button class="button">Кнопка Два</button>
      </div>
    <h1>Отправка в ЭК ВОСТОК Показаний по сч.Электроучёта 2024</h1>
      
      <button class="sendnudes">Отправить</button>
      <button class="button">Отправить</button>
      <button class="button">Отправить</button>
      <button class="button">Отправить</button>
</body>
</html>