.header {
    background-color: black;
    display: flex;
    color: white;
    padding: 10px;
    text-align: center;
}
.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
}
    